@font-face {
    font-family: 'Antic';
    src: url('fonts/Antic.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, #2ca7f2 0%, #1f332c 100%);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.flex-window-row{
    display: flex;
    flex-direction: row;
}
.flex-window-col{
    display: flex;
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.center_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main_container{
    width: 85%;
    height: 85%;
    align-items: center;
}
.full_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*-----------------------------------------------------------------------------User Info Left Container-----------------------------------------------------------------*/
.left_userninfo{
    width: 15%;
    height: 95%;
    border-radius: 2.1875rem;
    background: linear-gradient(180deg, rgba(30, 194, 135, 0.70) 11.77%, rgba(47, 84, 218, 0.70) 100%);
}
/*----------------------------------------------------------------------------Left User container with options --------------------------------------------------*/
.user_seleced_img{
    width: 200px;
    height: 200px;
}
.user_seleced_img img{
    border-radius: 25px;
}
.user_seleced_bio{
    width: 190px;
    height: 150px;
    background: linear-gradient(to bottom right, #945EBD 0%, #47ABA5 49%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #945EBD 0%, #47ABA5 49%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #945EBD 0%, #47ABA5 49%) top left / 50% 50% no-repeat, linear-gradient(to top right, #945EBD 0%, #47ABA5 49%) top right / 50% 50% no-repeat;

}
.user_seleced_bio span{
    color: #FFF;
    font-family: Antic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.left_extra_options{
    height: 48%;
    width: 80%;
    
}
.left_options_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(46, 95, 253, 0.55) 0%, rgba(89, 62, 249, 0.76) 100%);
}
.left_options_div span{
    color: #FFF;
    font-family: Antic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.left_options_div .option_img_div{
    width: 40px;
    height: 40px;
}
/*---------------------------------------------------------------------------Userinfo_chat_container-------------------------------------------------------------*/
.chat_userlst_container{
    width: 80%;
    height: 98%;
    align-items: center;
}
.user_list_container{
    height: 15%;
    width: 100%;
    border-radius: 2.1875rem;
    background: rgba(72, 99, 197, 0.63);
}
.chat_container{
    height: 80%;
    width: 100%;
    border-radius: 2.1875rem;
    background: rgba(72, 99, 197, 0.63);
}
.all_message_continer{
    height: 80%;
}
.input_field_container{
    height: 20%;
}
/*---------------------------------------------------------------------Displaying Users in user list box------------------------------------------------------------*/
.user_info_container{
    border-radius: 1.5625rem;
    background: linear-gradient(180deg, #00FF47 20.62%, #FF006B 95.1%);
    height: 80%;
}
.user_img_div{
    width: 90%;
    height: 90%;
}
.user_img_div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5625rem;
}
/****************************************************************Messge container for sender and reciever********************************************************************/
.message_contaner{
    position: relative;
    width: 30%;
    height: fit-content;
    background: #C7C7C7;
    margin: 50px;
    padding: 5px;
    border-radius: 1.5625rem;
    box-shadow: 4px 6px 0px 0px #2A324B;
}
.message-reaction{
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: -30px;
}
.sender-message .message-reaction{
    right: -30px;
}
.reciever-message .message-reaction{
    left: -30px;
}
.message-reaction img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5rem;
}
.message_date_container{
    width: 80px;
    background: linear-gradient(180deg, rgba(25, 60, 195, 0.68) 0%, rgba(0, 102, 255, 0.68) 100%);
    border-radius:5px;
    margin: 10px;
    padding: 2px;
    text-align: center;
}
.sender-message{
    margin-left: auto;
}

.user_message_container{
    border-radius: 1.52206rem;
    background: linear-gradient(86deg, rgba(43, 61, 216, 0.70) 26.97%, rgba(52, 123, 229, 0.83) 73.96%);
    margin: 10px;
    padding: 15px;
}
.user_message_container span{
    color: white;
}
.message_date_container span{
    font-size: 0.8em;
    color: white;
}
/*----------------------------------------------------------------Message options----------------------------------------------------*/
.message-options{
    background: #1B1818;
    border-radius: 40px;
    width: 285px;
    height: 69px;
   
    transition: box-shadow 0.3s ease-in;
}
.message-options:hover{
    box-shadow: 0px 0px 20px 0px cyan;
}
.message-options-div{
    margin: 10px;
    width: 50px;
    height: 50px;
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
    cursor: pointer;
}

.message-options-div:hover{
    transform: translateY(-30px);
}